.main_chat
  .main_chat__group
    .group--left
      .group--left__title
        = @group.name
      .group--left__member
        %ul
          Member : 
          %li
            - @users.each do |user|
              = user.name
    .group--right
      = link_to "Edit", edit_group_path(@group.id), class: "group--right__btn"
  .main_chat__list
    = render @messages
  = form_for [@group, @message] do |f|  
    .main_chat__form
      .main_chat__form--left
        .form_content--left
          = f.text_field :content, class: "form_content--left__message", placeholder: "type a message"
          = f.label :image, class: "form_content--right" do
            = icon('fa', 'image')
            = f.file_field :image, class: "hide"
      = f.submit 'Send', class: "main_chat__form--right"