.side_bar
  .side_bar__user
    .side_title
      .side_title--left
        = current_user.name
      .side_title--right
        = link_to new_group_path, class: "side_title--right__logo" do
          = icon('far', 'edit')
          %sapn<>
        = link_to edit_user_path(current_user), class: "side_title--right__logo" do
          = icon('fas', 'cog')
  .side_bar__group
    .side_body
      .side_body__title
        techcamp
      .side_body__message
        まだメッセージがありません